/* Generic styling */

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

button:focus, input:focus {
    outline: none;
}

.btn {
    background-color: #ffcc00;
    border-radius: 2px;
    color: white;
    user-select: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    font-weight: 900;
}

.btn:active {
    opacity: 0.8;
}

[v-cloak] {
    display: none !important;
}

.fade-enter-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

/* Sections */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F5F5F5;
}

#app {
    width: 90%;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0;
    padding: 1rem 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 2rem;
}

.products {
    flex: 4;
}

.cart {
    flex: 1;
    /* display: none; */
}

/* Header */

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    padding: 2rem 0 1rem;
    margin: 0;
    color: #ffcc00;
    text-shadow: black 2px 1px 1px;
}

.searchbar {
    flex: 0 0 auto;
    padding: 1rem 0;
    border: 3px solid #E9E9E9;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1rem;
    display: flex;
}

.searchbar > input {
    padding: 5px;
    font-size: 1.3rem;
    border: 1px solid #E9E9E9;
    border-right: none;
}

.searchbar > input[type=submit] {
    /* background-color: #eebb00; */
    background-color: #96A9BA;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    user-select: none;
}

/* Products */

.product-list {
    margin-right: 1rem;
}

.search-results {
    padding-bottom: 1rem;
}

.search-results .search-term {
    font-style: italic;
}

.product {
    padding: 1rem;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    overflow: auto;
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-flow: row nowrap;
      display: flex;
}

.product:first-child {
    margin-top: 0;
}

.product > div:first-child {

}

.product > div:last-child {

  flex: 1 1 50%;
  margin-left: 1rem;
}

.product-image {
    max-height: 150px;
    max-width: 250px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
}

.product-image > img {
    width: 100%;
    display: block;
}

.product-title {
    margin-top: 0;
}

.product .add-to-cart {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

#product-list-bottom {
    text-align: center;
    color: #AAAAAA;
    font-size: 0.85rem;
}

.product-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Cart */

.cart {
    margin-left: 1rem;
    padding-left: 1rem;
}

.cart .empty-cart {
    padding-top: 1rem;
}

.cart > h2 {
    margin-top: 0;
}

.cart ul {
    width: 100%;
    font-size: 0.9rem;
    border-top: 2px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart ul li {
    vertical-align: top;
    padding: 1rem 1rem 1rem 0;
}

.cart ul .cart-item {
    border-bottom: 1px solid #E9E9E9;
}

.cart ul .cart-item .item-title {

}

.cart ul .cart-item .item-price {
    font-weight: bold;
    padding-top: 0.5rem;
}

.cart ul .cart-item .item-qty {
    margin-right: 1rem;
}

.cart ul .cart-item:last-child {
    border-bottom: none;
}

.cart ul .cart-item button {
    margin-right: 3px;
}

.mycart {
  display: flex;
  padding: 1em;
  font-size: 1.7em;
  background: #111;
  height: 5vh;

}
.mycart i {
  z-index: 0;
  color: #fff;
  padding: .3em 0 0 0;
}

.cart-amount {
  font-size: .75em;
  text-align: center;
  border-radius: 50em;
  color: #fff;
  font-weight: bold;
  width: 2em;
  height: 2em;
  line-height: 2em;
  z-index: 2;
  padding: 0 1em 0 0;
  margin: 0;
}

@media screen and (min-width: 1000px) {
  #app {
      width: 80%;
      margin: 0 auto;
      padding: 0 2rem;
  }
}
